//Some basic opinionated resets for commonly overridden styles

:root {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

//replace with full selectors?
:matches(h1,h2,h3,h4,h5,h6,p):first-child {
    margin-block-start: 0;
}

:matches(h1,h2,h3,h4,h5,h6,p):last-child {
    margin-block-end: 0;
}

img {
    max-width: 100%;
    height: auto;
}